* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 5vh;
}

h2 {
    text-align: center;
}

/*                      FENETRE CONNEXION                      */
/* Fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenu de la modale */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20vw;
    border-radius: 10px;
}

#loginForm {
    display: grid;
    justify-content: center;
}

#loginForm>label {
    margin-bottom: 1vh;
}

#loginForm>input {
    margin-bottom: 2vh;
}

#loginForm>button {
    margin-bottom: 2vh;
}

/* Bouton de fermeture */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*                    AFFICHAGE POKEMON                      */
.search-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    margin: auto;
    width: 25vw;
}

#pokemonSearch {
    padding: 2vh;
    font-size: 2.3vh;
    width: 17vw;
    border: 1px solid #ccc;
    border-radius: 1vh;
    grid-column: 1/3;
    grid-row: 2;
    margin: 1vh;
    justify-self: center;
}

#searchButton {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 2.5vh;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    grid-column: 3;
    grid-row: 2;
    margin: 1vh;
    justify-self: center;

}

#searchButton:hover {
transform: translate(-0.05em, -0.05em);
box-shadow: 0.15em 0.15em;
}

#searchButton:active {
transform: translate(0.05em, 0.05em);
box-shadow: 0.05em 0.05em;
}

#getAllButton {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 2.5vh;
    border: 0.5vh solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    grid-column: 1/4;
    grid-row: 3;
    margin: 1vh;
    justify-self: center;
}

#getAllButton:hover {
transform: translate(-0.05em, -0.05em);
box-shadow: 0.15em 0.15em;
}

#getAllButton:active {
transform: translate(0.05em, 0.05em);
box-shadow: 0.05em 0.05em;
}

#errorSearch {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}

/* Liste des Pokémon */
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

/* Carte de chaque Pokémon */
.pokemon {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 180px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pokemon img {
    width: 100px; /* Taille réduite de l'image */
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pokemon h3 {
    font-size: 18px;
    color: #333;
}

.pokemon p {
    font-size: 14px;
    color: #777;
}

#paginationControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#paginationControls button {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fbca1f;
    font-weight: bold;
    cursor: pointer;
}

#paginationControls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* Message d'erreur */
#errorMessage {
    color: red;
    font-size: 16px;
    text-align: center;
}
